
.u-fade-type-down{
    opacity: 0;
}
.u-fade-type-down.is-active{
    opacity: 1;
    animation: bounce 2.3s alternate;
}
.is-progress{
    animation: progress 2s linear;
}
@keyframes progress {
    0%{
        width: 100%;
    }
    25%{
        width: 100%;
    }
    50%{
        width: 50%;
    }
    
}

@keyframes bounce {
    0% {
        transform: translateY(200px);
        opacity: 0;
      }
      90%{
        transform: translateY(-5px);
        opacity: 1;
      }
      100%{
        transform: translateY(0px);
        opacity: 1;
      }
}
