@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body, html {
  height: 100%;
  background:rgba(236, 239, 240, 1);
}

body{
 /* margin:0;*/
 /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  /*font-size:1rem;
  /*font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;*/
}

p {
    margin-top: 0;
    margin-bottom: 0.2rem !important;
  }

.v-header{
  /*height:100vh;*/
  /*display:flex;*/
  display:grid;
  /*align-items:center;*/
  padding-top:10px;
  color:#fff;
}

.text-cool-left{
  /*position: relative;*/
  width: 579px;
  height: 150px;
  left: 671px;
  top: 179px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 66px;
  line-height: 77px;
  text-align: left;

  color: #FFFFFF;

  /*text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.21);*/
}

.container{
 /* max-width:1400px !important;*/
  /*padding-left:1rem;
  padding-right:1rem;*/
  /*margin:auto;*/
  /*text-align:center;*/
}

.container img{
  z-index:999;
  margin:0;
  padding:0 0 0 0;

}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
 /* height:100vh;*/
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  /*height:100vh;*/
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  /*background:#225470;*/
  opacity:0.85;
}

.header-content{
  z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

.btn{
 /* background: #34b3a0;*/
  color:#fff;
  /*font-size:1.2rem;*/
  padding: 1rem 2rem;
  text-decoration: none;
}

.section{
  padding:20px 0;
}

.section-products{
 /* margin-left: 25%;
  margin-right: 25%;*/
  margin: auto;
}

.section-b{
  background:rgba(236, 239, 240, 1);
  padding-bottom: 40px;
  padding-top:50px;

  }

.section-b img{
  width:35%;
  height:auto;
}

.pointers h1,h2,h3,h4,h5,h6{
  color:#2a4278;
  text-transform: uppercase;
  font: 28px;
  font-family: 'Roboto Mono', monospace;
  padding-top: 14px;
}

.section-b p{
  padding-top: 10px;
}

.line {
    position: relative;
}
.line:after {
    content: '';
    position: absolute;
    right: 8px;
    border-right: 1px solid #cfc7c0;
    top: 40%;
    bottom: 2%;
}

.section-a{
  margin-top: 565px !important;
  z-index: 10;
  /*position: relative;*/
  background-image: url(CoolLip_section02.jpg);
  width:100%;
  height:100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }

/*.snuz{
  width:1920px;
  height: 932px;
}*/


.section-c{
  margin:auto !important;
  z-index: 10;
  /*position: relative;*/
  background-image: url(Ingredient_image.jpg);
  width:100%;
  height:100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }



.txt-light{
  /*position: absolute;*/
  width: 840px;
  /*height: 113px;*/
  left: 539px;
  padding-top: 40px;
  margin:auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 156%;
  /* or 47px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #6D6E71;

  opacity: 0.8;
}

.blue-txt{
  margin:auto;
  /*position: absolute;*/
  width: 838px;
  /*height: 114px;*/
  left: 539px;
  padding-top:20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 156%;
  /* or 59px */

  text-align: center;

  color: #011559;

  opacity: 0.8;
}

.gry-bg{
  background: rgba(236, 239, 240, 1) !important;
}

.blue-bg{
  background: rgba(0, 29, 79, 1);

}

.snuz-in{
  /*position: absolute;*/
  /*width: 1174px;*/
  height: 350px;
  /*left: 800px;
  top: 2487px;*/
  background: url(Snus-breakup.png) no-repeat 50% 50%;
  mix-blend-mode: luminosity;
}

.snuz-txt{
    /*position: absolute;
  width: 838px;
  height: 159px;
  left: 539px;
  top: 2908px;*/

  width: 1277px;
  padding-top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;

  line-height: 36px;
  /* or 100% */

  text-align: center;

color: #FFFFFF;
}

.snuz-font-scale p{
  font-size: 1.2rem;
  padding: 10px 200px 50px 200px;
}

.snuz-font-scale h4{
  font-size: 36px;
}

.dark-grey-bg{
  background-color: rgba(89, 90, 92, 1);
}

.hand-img{
  width: 1460px;
height: 693px;
left: 1903px;
top: 3219px;
  background: url(Hand_FLAT1.png) no-repeat 50% 50%;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.txt-centered {
  position: absolute;
  top: 35%;
  /*left: 50%;*/
  left:2%;
  text-align: center;
  /*transform: translate(-50%, -50%);*/
  color:#fff;
  z-index: 999;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
}

.usp{
  padding: 40px 5px 5px 5px;
}

.usp img{
  display: block;
  /*margin:auto;*/
  /*margin-left: auto;
  margin-right: auto;*/
  width: 15%;
}

.usp p{
  /*width: 398px;
  height: 89px;*/
  /*left: 320px;
  top: 4185.49px;*/

  /*padding-left:35px;*/
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: -0.01em;
  padding-top: 20px;

  color: #6D6E71;
}

.usp h5{
  width: 399px;
  height: 29px;
  left: 1199px;
  top: 4127.49px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  text-align: left;
  /*padding-bottom: 18px;*/

  color: #6D6E71;
}

.white-bar{
  /*position: relative;*/
  width: 1278px;
  height: 406px;
  /*left: 321px;
  top: 4399px;*/

  background: #FFFFFF;
  border-radius: 47px;
  margin-top:70px;
  margin-left:auto;
  margin-right: auto;

  
}

.multicolor-txt{
/* width: 632px;
height: 69px;
left: 644px;
top: 4451px;*/

padding-top: 40px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 50px;
line-height: 138%;
/* identical to box height, or 69px */

text-align: center;
letter-spacing: 0.05em;

color: #6D6E71;
}

.color-liteblue{
  color:#3FBEE7;
}

.color-midblu{
  color:#3FA7E7;
}

.color-darkblu{
  color:#093987;
}

.white-bar-points{
  display: block;
  margin:auto;
  text-align: center;
  padding:40px 20px 10px 20px;
}

.white-pts p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  padding: 10px 75px 0px 75px !important;
  /* or 25px */

  text-align: center;

  color: #6D6E71;
}


.products{
  padding: 40px 5px 5px 5px;
}

.products img{
  display: block;
  margin:auto;
  width:100%;
  height:auto;
  /*margin-left: auto;
  margin-right: auto;*/
 
}

.products p{
  /*width: 398px;
  height: 89px;*/
  /*left: 320px;
  top: 4185.49px;*/

  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
/*line-height: 30px;*/
/* identical to box height, or 125% */
/*text-align: center;*/

color: #073582;
}

.products h6{
  /*width: 398px;
  height: 89px;*/
  /*left: 320px;
  top: 4185.49px;*/

  font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */
text-align: center;
padding-top: 10px;

color: #073582;
}

.bar-blue{
  width: 331px;
height: 6px;
 background: #073582;
border-radius: 6px;

}

.bar-lightblu{
  width: 317px;
height: 6px;

background: #3FBEE7;
border-radius: 6px;
}

.bar-gry{
  width: 237px;
height: 6px;

background: #6D6E71;
border-radius: 6px;
}

.bar-txt-right{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* or 133% */

text-align: right;
margin:auto;

color: #6D6E71;

}

.bar-above-txt{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
text-align: left !important;
color: #6D6E71;
}

.section-products h6{
  text-transform: capitalize;
}

.dark-blue-bg{
  width: 1920px;
  height: 733px;

  background: #001D4F;
}

.btn{
  border-radius:30px !important;
}

.btn-primary{
  background: #073582 !important;
  border-color: #073582 !important;
}

.btn-info{
background: #3FBEE7 !important;
border-color: #3FBEE7 !important;
}

.centered-items{
  padding-top: 35px;
}

.sign-in h5{
  padding-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 138%;
  /* or 66px */

  text-align: center;

  color: #FFFFFF;
}



.grey-box{
  width: 840px;
  height: 348px;
  background: #ECEFF0;
  border-radius: 29px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 40px;
}

.sign-in p{
  padding-top: 25px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 138%;
/* or 55px */

text-align: center;

color: #6D6E71;

opacity: 0.8;
}

.price{
  font-family: Rupee Foradian;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 250%;
/* identical to box height, or 61px */

text-align: center;

color: #011559;
}
.logo img{
  margin: auto;
  margin-left:40%;
  margin-right:50%;
 /* padding-top: 50px;*/
  width:65%;
}


.logo-footer img{
  margin: auto;
  margin-left:40%;
  margin-right:50%;
 /* padding-top: 50px;*/
  width:20%;
}

.blue-strip{
  background: #3FBEE7;
  height:121px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.blue-strip p{
  font-family: STIXGeneral !important;
font-style: normal !important;
font-size: 30px !important;
line-height: 138% !important;
/* identical to box height, or 41px */


color: #FFFFFF !important;
opacity: 1 !important;

}

.section-d{
  background-image: url(images/crowd-bg.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#FFFFFF;
  text-align:center;
  font-family: Roboto;
}

.white-bg{
  background-color: #fff;
}

.footer-above h5{
  margin: auto;
  padding-top: 20px;
/*  width: 610px;*/
/*height: 132px;*/
left: 655px;
top: 7238px;
text-transform: none;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 66px;
/* or 150% */

text-align: center;

color: #073582;
}

/*.footer-above img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 32%;
  height:auto;
}*/

.join-txt{
  /*width: 341px;*/
  /*height: 66px;*/
  left: 789px;
  top: 7434px;
  margin:auto !important;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 66px;
  /* identical to box height, or 150% */

  text-align: center !important;
  padding-top: 40px;

  color: #3FBEE7;
}

.footer-above-txt p{
/*  width: 355px;*/
/*height: 50px;*/
padding-top: 40px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 25px;
text-align: center;

color: #595A5C;
margin:auto;
}

.subscribe-txt{
  padding-top: 70px;
  margin:auto;
  margin-left: 25%;
  margin-right: 25%;
}


.subscribe-txt p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 25px;
text-align: left;

color: #BBBBBB;
margin:auto;
}


.subscribe-txt span{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
text-align: right !important;

color: #595A5C;
margin:auto;
}


.subscribe-line{
  width: 500px;
height: 0px;
left: 650px;
top: 7675px;

border: 1px solid #000000;
}

.left-txt{
  text-align: left;
}

.right-txt{
  text-align: right;
}


button{height:40px; position:relative; width:150px; top:60%; left:25%; margin-right: 35px !important;}


@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}



/*----------Progress Bar--------*/
.progress-custom {
        display: table;
        width: 100%;
       /* margin-bottom: 20px;*/ /*optionally same aside margin bottom of progress class*/
    }

    .progress-custom .progress{
        margin-bottom: 0;
        display: table-cell;
        vertical-align: middle;
        margin:auto;
    }

    .progress-custom .progress-value{
        display: table-cell;
        vertical-align: middle;
        width: 40%; 
        padding: 0 74px 0 0; /*optionally*/
        text-align: right;
    }

.progress{
  background: rgba(255, 255, 255, 1) !important;
}




.addReadMore.showlesscontent .SecSec,
    .addReadMore.showlesscontent .readLess {
        display: none;
    }

    .addReadMore.showmorecontent .readMore {
        display: none;
    }

    .addReadMore .readMore,
    .addReadMore .readLess {
        font-weight: 600;
        margin-left: 2px;
        color: grey;
        cursor: pointer;
        /*padding-top: 15px;*/
    }

    .addReadMoreWrapTxt.showmorecontent .SecSec,
    .addReadMoreWrapTxt.showmorecontent .readLess {
        display: block;
    }

.text-center{
  text-align: center;
}

.what-is-snus h4{
  text-align: center;
  text-transform: none;
  padding-top: 80px;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;

}

.what-is-snus p{
  text-align: center;
  color:#fff;
  margin-left:14%;
  margin-right:14%;
  font-size:1.22rem;
  padding-bottom:80px;
  font-family: 'Open Sans', sans-serif;
}

.blue-txt{
  color:#7EEDFF;
}

.what-is-snus span{
  color:#7EEDFF;
}

.boxx {
  background-color: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 400px;
  height: 200px;
  margin: 10px;*/
 /* border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);*/
  transform: translateX(400%);
  transition: transform 0.4s ease;
  z-index: 10;
}

.boxx:nth-of-type(even) {
  transform: translateX(-400%);
}

.boxx.show {
  transform: translateX(0);
}

.boxx h2 {
  font-size: 45px;
}


/*.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: rgba(255,85,0, .7);
  text-align: center;
  color: #4E4C48;
  font-size: 1.5em;
}*/


@media only screen and (max-width : 990px){

.nomobile{
  display:none;
}

.carousel-item-logo img{
  display: block !important;
  width:250px;
  box-sizing: content-box;
  padding: 25px 25px 25px 25px;
  margin: 30px 15px;
  text-align: center;

}

.footer-above img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 65%;
  height:auto;
}

}

@media only screen and (min-width : 990px){
  .nodesktop{
    display:none;
  }

  .carousel-item-logo img{
  display: block !important;
  width:150px;
   box-sizing: content-box;
  padding: 25px 25px 25px 25px;
  margin: 30px 15px;
  text-align: center;

}

.footer-above img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 32%;
  height:auto;
}

}

.coollip-bg{
  background-color:#06044e;
}


.progress .progress-bar {
  box-shadow: none;
  position: relative;
  border-radius: 20px;
  /*animation: animate-positive 1s;*/
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}


@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}


